.grid-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: solid darkgray;
    
}

.grid-row {
    display: flex;
    flex: auto;
}

.grid-item {
    flex: auto;
    background-color: #eee;
}

.hover {
    background-color: darkblue;
}

button {
    margin-top: 16px;
    padding: 8px 24px;
    font-family: sans-serif;
    font-weight: bold;
}

/*
.grid-row div:hover {
    background-color: darkblue;
}
*/